:root {
    /* Colors */
    --ajc-color-default-black: black;
    --ajc-color-default-gray7: #121212;
    --ajc-color-default-white: white;

    /* Borders */
    --ajc-border-default-solid: solid;
    --ajc-border-default-double: double;
    --ajc-border-default-frame1: groove;
    --ajc-border-default-frame2: ridge;

    /* Spacing */
    --ajc-spacing-default-1: 2px;
    --ajc-spacing-default-2: 4px;
    --ajc-spacing-default-3: 8px;
    --ajc-spacing-default-4: 12px;
    --ajc-spacing-default-5: 16px;
    --ajc-spacing-default-6: 24px;
    --ajc-spacing-default-7: 32px;
    --ajc-spacing-default-8: 48px;
    --ajc-spacing-default-9: 64px;
    --ajc-spacing-default-10: 96px;
    --ajc-spacing-default-11: 128px;
    --ajc-spacing-default-12: 192px;
    --ajc-spacing-default-13: 256px;
    --ajc-spacing-default-14: 384px;
    --ajc-spacing-default-15: 512px;
}